<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <title>File Manager | Erreur</title>
    <link rel="icon" type="image/x-ico" th:href="@{/images/logo.ico}">
    <link th:href="@{/fonts/inter.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabler.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabler-vendors.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/demo.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/filemanager.css}" rel="stylesheet"/>
</head>
<body class="border-top-wide border-danger d-flex flex-column overflow-hidden">
    <div class="page page-center">
        <div class="container-tight py-4">
            <div class="empty">
                <p class="empty-title" th:text="${title}"></p>
                <p class="empty-subtitle text-muted" th:text="${details}"></p>
                <div class="empty-action">
                    <a th:href="@{/home}" class="btn btn-primary">
                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="5" y1="12" x2="19" y2="12" /><line x1="5" y1="12" x2="11" y2="18" /><line x1="5" y1="12" x2="11" y2="6" /></svg>
                        Accueil
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/tabler.min.js}"></script>
    <script th:src="@{/js/demo.min.js}"></script>
</body>
</html>