<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="fuels" type="java.util.List<com.petroleum.models.Fuel>"*/-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <title>Bons de carburant | Petroleum</title>
    <link rel="icon" type="image/x-ico" th:href="@{/images/logo.png}">
    <link th:href="@{/fonts/inter.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabler.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabler-vendors.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/demo.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/js-snackbar.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/pagination.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet">
    <link th:href="@{/css/dataTables.checkboxes.css}" rel="stylesheet">
    <link th:href="@{/css/petroleum.css}" rel="stylesheet"/>
</head>
<body>
<div class="page" id="wrapper">
    <div class="sticky-top">
        <div th:replace="header.html"></div>
        <div class="navbar-expand-md">
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="navbar navbar-light">
                    <div class="container-fluid">
                        <div class="d-flex">
                            <ol class="breadcrumb navbar-nav d-flex align-items-center flex-row" aria-label="breadcrumbs">
                                <li class="breadcrumb-item">
                                    <a th:href="@{/home}" >
                                      <span class="d-lg-inline-block">
                                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                                      </span>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active"><a th:href="@{/fuels}">Liste des bons de carburant</a></li>
                            </ol>
                        </div>
                        <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
                            <div class="input-icon">
                            <span class="input-icon-addon">
                                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
                            </span>
                                <input type="text" value="" class="form-control" placeholder="Rechercher…" id="search-addon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <a th:if="${!#lists.isEmpty(fuels)}" href="javascript:reverseSelection();" class="btn btn-white" title="Inverser la sélection">
                            <svg class="icon m-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3.5 5.5l1.5 1.5l2.5 -2.5" /><path d="M3.5 11.5l1.5 1.5l2.5 -2.5" /><path d="M3.5 17.5l1.5 1.5l2.5 -2.5" /><line x1="11" y1="6" x2="20" y2="6" /><line x1="11" y1="12" x2="20" y2="12" /><line x1="11" y1="18" x2="20" y2="18" /></svg>
                        </a>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-12 col-md-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a class="btn btn-white" th:classappend="${#bools.isTrue(filtered) ? '' : 'd-none'}" th:href="@{/fuels}">
                                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="3" y1="3" x2="21" y2="21" /><path d="M9 5h9.5a1 1 0 0 1 .5 1.5l-4.049 4.454m-.951 3.046v5l-4 -3v-4l-5 -5.5a1 1 0 0 1 .18 -1.316" /></svg>
                                <span class="d-none d-md-inline-block">Annuler le filtre</span>
                            </a>
                            <a id="filter-items" data-bs-toggle="modal" data-bs-target="#modal-search" class="btn btn-success d-none d-sm-inline-block">
                                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5.5 5h13a1 1 0 0 1 .5 1.5l-5 5.5l0 7l-4 -3l0 -4l-5 -5.5a1 1 0 0 1 .5 -1.5" /></svg>
                                Filtrer
                            </a>
                            <a id="add-item" data-bs-toggle="modal" data-bs-target="#modal-create" class="btn btn-success d-none d-sm-inline-block">
                                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                                Ajouter
                            </a>
                            <a href="#" class="btn btn-danger d-none d-sm-inline-block" onclick="invoke('delete', 'fuel')">
                                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="4" y1="7" x2="20" y2="7" /><line x1="10" y1="11" x2="10" y2="17" /><line x1="14" y1="11" x2="14" y2="17" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                                Supprimer
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="row row-deck row-cards">
                    <div class="col-12 mt-1">
                        <div class="card">
                            <div id="table-default">
                                <table class="table card-table table-vcenter text-nowrap datatable paging exclude-first-sort searching multiple-selection" id="main-table">
                                    <thead>
                                    <tr>
                                        <th class="w-1">
                                            <input class="form-check-input m-0 align-middle" type="checkbox">
                                        </th>
                                        <th>N°</th>
                                        <th>Prix (en FCFA)</th>
                                        <th>Date d'émission</th>
                                        <th>Code</th>
                                        <th>Statut</th>
                                        <th class="fit-cell-content"></th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-tbody">
                                    <tr th:each="fuel: ${fuels}">
                                        <td>
                                            <input class="form-check-input dt-checkboxes m-0 align-middle" type="checkbox" th:value="${fuel.id}">
                                        </td>
                                        <td th:text="${fuel.number}"></td>
                                        <td th:text="${#numbers.formatDecimal(fuel.amount,1,'WHITESPACE',2,'COMMA')}"></td>
                                        <td th:text="${#temporals.format(fuel.date, 'dd-MM-yyyy  HH:mm')}"></td>
                                        <td th:text="${fuel.code}"></td>
                                        <td th:if="${fuel.enabled}">
                                            <span class="badge bg-success me-1"></span> Actif
                                        </td>
                                        <td th:unless="${fuel.enabled}">
                                            <span class="badge bg-danger me-1"></span> Désactivé
                                        </td>
                                        <td class="inline-actions fit-cell-content">
                                            <div class="dropdown">
                                                <a href="#" class="link-secondary show" data-bs-toggle="dropdown" aria-expanded="true">
                                                    <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="5" cy="12" r="1"></circle><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle></svg>
                                                </a>
                                                <div class="dropdown-menu mw-0">
                                                    <a th:if="${fuel.enabled}" class="dropdown-item mw-0" th:href="@{'/fuels/' + ${fuel.id} + '/toggle'}">
                                                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="8" cy="12" r="2" /><rect x="2" y="6" width="20" height="12" rx="6" /></svg>
                                                        <span class="ml-2">Désactiver</span>
                                                    </a>
                                                    <a th:unless="${fuel.enabled}" class="dropdown-item mw-0" th:href="@{'/fuels/' + ${fuel.id} + '/toggle'}">
                                                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="16" cy="12" r="2" /><rect x="2" y="6" width="20" height="12" rx="6" /></svg>
                                                        <span class="ml-2">Activer</span>
                                                    </a>
                                                    <a class="dropdown-item mw-0" th:data-id="${fuel.id}" th:data-number="${fuel.number}" th:data-amount="${fuel.amount}" href="#" onclick="editFuel(this.getAttribute('data-id'), this.getAttribute('data-number'), this.getAttribute('data-amount'))">
                                                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" /><line x1="13.5" y1="6.5" x2="17.5" y2="10.5" /></svg>
                                                        <span class="ml-2">Modifier</span>
                                                    </a>
                                                    <a class="dropdown-item mw-0" th:href="@{/fuels/download/{id}(id=${fuel.id})}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                                            <path d="M7 11l5 5l5 -5"></path>
                                                            <path d="M12 4l0 12"></path>
                                                        </svg>
                                                        <span class="ml-2">Télécharger</span>
                                                    </a>
                                                    <a class="dropdown-item mw-0 text-danger" th:data-id="${fuel.id}" onclick="deleteItem(this.getAttribute('data-id'), 'fuels/delete')" href="#">
                                                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="4" y1="7" x2="20" y2="7" /><line x1="10" y1="11" x2="10" y2="17" /><line x1="14" y1="11" x2="14" y2="17" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                                                        <span class="ml-2">Supprimer</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div th:if="${totalPages > 1}" class="card-footer py-2 d-flex align-items-center">
                                <!--/*@thymesVar id="totalPages" type="java.lang.Integer"*/-->
                                <!--/*@thymesVar id="currentPage" type="java.lang.Integer"*/-->
                                <!--/*@thymesVar id="search" type="java.lang.Boolean"*/-->
                                <div id="pagination" th:title="${totalPages}" th:aria-placeholder="${currentPage}" aria-label="fuels" th:classappend="${#bools.isTrue(filtered) ? 'data-search' : ''}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="footer.html"></div>
    </div>
</div>
<div class="modal modal-blur fade" id="modal-create" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Formulaire</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form name="saveFuel" th:action="@{/fuels}" method="post">
                <input id="fuel-id" type="hidden" name="id">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label required">Numéro</label>
                        <input type="number" min="1" step="1" class="form-control" id="fuel-number" name="number" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label required">Prix (en FCFA)</label>
                        <input type="number" min="1" class="form-control" id="fuel-amount" name="amount" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Annuler
                    </a>
                    <button class="btn btn-primary ms-auto" type="submit">
                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" /><circle cx="12" cy="14" r="2" /><polyline points="14 4 14 8 8 8 8 4" /></svg>
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal modal-blur fade" id="modal-search" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recherche des bons de carburant</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form name="searchForm" th:action="@{/fuels/search}" method="post">
                <div class="modal-body">
                    <input name="page" type="hidden" id="current-page" th:value="${currentPage}">
                    <div class="mb-3">
                        <label class="form-label">Statut</label>
                        <select class="form-select" name="status">
                            <option value="-1" th:selected="${status == -1}">-</option>
                            <option value="1" th:selected="${status == 1}">Actif</option>
                            <option value="0" th:selected="${status == 0}">Désactivé</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Numéro</label>
                        <input class="form-control" name="number" type="number" th:value="${number}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Montant</label>
                        <input class="form-control" name="amount" type="number" th:value="${amount}">
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Annuler
                    </a>
                    <button id="search-button-id" class="btn btn-primary ms-auto">
                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
                        Rechercher
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal modal-blur fade" id="modal-delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <svg class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
                <h3>Êtes-vous sûr ?</h3>
                <div class="text-muted" id="delete-message">Voulez-vous vraiment supprimer ces bons de carburants ?</div>
            </div>
            <div class="modal-footer">
                <form th:action="@{/fuels/delete}" method="post">
                    <div id="delete-objects"></div>
                    <div class="w-100">
                        <div class="row">
                            <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                                Annuler
                            </a></div>
                            <div class="col">
                                <button type="submit" class="btn btn-danger w-100">
                                    Supprimer
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/tabler.min.js}"></script>
<script th:src="@{/js/demo.min.js}"></script>
<script th:src="@{/js/js-snackbar.min.js}"></script>
<script th:src="@{/js/dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.checkboxes.min.js}"></script>
<script th:src="@{/js/pagination.min.js}"></script>
<script th:src="@{/js/petroleum.js}"></script>
<!--/*@thymesVar id="notification" type="com.petroleum.models.Notification"*/-->
<script th:if="${notification}" th:inline="javascript">
    new SnackBar({
        message: /*[[${notification?.message}]]*/ '',
        status: /*[[${notification?.type == 'error' ? 'error' : 'success'}]]*/ '',
        dismissible: false,
        position: 'bc',
        fixed: true,
        timeout: 3000,
    });
</script>
</body>
</html>
