<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="products" type="java.util.List<com.petroleum.models.Product>"*/-->
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <title>Produits | Petroleum</title>
    <link rel="icon" type="image/x-ico" th:href="@{/images/logo.png}">
    <link th:href="@{/fonts/inter.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabler.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabler-vendors.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/demo.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/js-snackbar.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet">
    <link th:href="@{/css/dataTables.checkboxes.css}" rel="stylesheet">
    <link th:href="@{/css/petroleum.css}" rel="stylesheet"/>
</head>
<body>
<div class="page" id="wrapper">
    <div class="sticky-top">
        <div th:replace="header.html"></div>
        <div class="navbar-expand-md">
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="navbar navbar-light">
                    <div class="container-fluid">
                        <div class="d-flex">
                            <ol class="breadcrumb navbar-nav d-flex align-items-center flex-row" aria-label="breadcrumbs">
                                <li class="breadcrumb-item">
                                    <a th:href="@{/home}" >
                                      <span class="d-lg-inline-block">
                                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                                      </span>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active"><a th:href="@{/products}">Liste des produits</a></li>
                            </ol>
                        </div>
                        <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
                            <div class="input-icon">
                            <span class="input-icon-addon">
                                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
                            </span>
                                <input type="text" value="" class="form-control" placeholder="Rechercher…" id="search-addon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <a th:if="${!#lists.isEmpty(products)}" href="javascript:reverseSelection();" class="btn btn-white" title="Inverser la sélection">
                            <svg class="icon m-0" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3.5 5.5l1.5 1.5l2.5 -2.5" /><path d="M3.5 11.5l1.5 1.5l2.5 -2.5" /><path d="M3.5 17.5l1.5 1.5l2.5 -2.5" /><line x1="11" y1="6" x2="20" y2="6" /><line x1="11" y1="12" x2="20" y2="12" /><line x1="11" y1="18" x2="20" y2="18" /></svg>
                        </a>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-12 col-md-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a id="create-folder" data-bs-toggle="modal" data-bs-target="#modal-create" class="btn btn-success d-none d-sm-inline-block">
                                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>
                                Nouveau
                            </a>
                            <a href="#" class="btn btn-danger d-none d-sm-inline-block" onclick="invoke('delete', 'product')">
                                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="4" y1="7" x2="20" y2="7" /><line x1="10" y1="11" x2="10" y2="17" /><line x1="14" y1="11" x2="14" y2="17" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                                Supprimer
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="row row-deck row-cards">
                    <div class="col-12 mt-1">
                        <div class="card">
                            <div id="table-default">
                                <table class="table card-table table-vcenter text-nowrap datatable paging exclude-first-sort searching multiple-selection" id="main-table">
                                    <thead>
                                        <tr>
                                            <th class="w-1">
                                                <input class="form-check-input m-0 align-middle" type="checkbox">
                                            </th>
                                            <th>Nom</th>
                                            <th>Passage dépôt</th>
                                            <th>TVA sur le passage dépôt</th>
                                            <th>Soutien à la raffinerie</th>
                                            <th>Taxe spéciale</th>
                                            <th>Péréquation transport</th>
                                            <th>Marquage chimique</th>
                                            <th>TVA sur marquage</th>
                                            <th class="fit-cell-content"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-tbody">
                                        <tr th:each="product: ${products}">
                                            <td>
                                                <input class="form-check-input dt-checkboxes m-0 align-middle" type="checkbox" th:value="${product.id}">
                                            </td>
                                            <td th:text="${product.name}"></td>
                                            <td th:text="${#numbers.formatDecimal(product.passage,1,'WHITESPACE',2,'COMMA')}"></td>
                                            <td th:text="${#numbers.formatDecimal(product.passageTax,1,'WHITESPACE',2,'COMMA')}"></td>
                                            <td th:text="${#numbers.formatDecimal(product.refinery,1,'WHITESPACE',2,'COMMA')}"></td>
                                            <td th:text="${#numbers.formatDecimal(product.specialTax,1,'WHITESPACE',2,'COMMA')}"></td>
                                            <td th:text="${#numbers.formatDecimal(product.transport,1,'WHITESPACE',2,'COMMA')}"></td>
                                            <td th:text="${#numbers.formatDecimal(product.marking,1,'WHITESPACE',2,'COMMA')}"></td>
                                            <td th:text="${#numbers.formatDecimal(product.markingTax,1,'WHITESPACE',2,'COMMA')}"></td>
                                            <td class="inline-actions fit-cell-content">
                                                <div class="dropdown">
                                                    <a href="#" class="link-secondary show" data-bs-toggle="dropdown" aria-expanded="true">
                                                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="5" cy="12" r="1"></circle><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle></svg>
                                                    </a>
                                                    <div class="dropdown-menu mw-0">
                                                        <a class="dropdown-item mw-0" th:data-id="${product.id}" th:data-name="${product.name}" th:data-passage="${product.passage}" th:data-passage-tax="${product.passageTax}" th:data-refinery="${product.refinery}" th:data-special-tax="${product.specialTax}" th:data-transport="${product.transport}" th:data-marking="${product.marking}" th:data-marking-tax="${product.markingTax}" href="#" onclick="editProduct(this.getAttribute('data-id'), this.getAttribute('data-name'), this.getAttribute('data-passage'), this.getAttribute('data-passage-tax'), this.getAttribute('data-refinery'), this.getAttribute('data-special-tax'), this.getAttribute('data-transport'), this.getAttribute('data-marking'), this.getAttribute('data-marking-tax'))">
                                                            <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" /><line x1="13.5" y1="6.5" x2="17.5" y2="10.5" /></svg>
                                                            <span class="ml-2">Modifier</span>
                                                        </a>
                                                        <a class="dropdown-item mw-0 text-danger" th:data-id="${product.id}" onclick="deleteItem(this.getAttribute('data-id'), 'products/delete')" href="#">
                                                            <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="4" y1="7" x2="20" y2="7" /><line x1="10" y1="11" x2="10" y2="17" /><line x1="14" y1="11" x2="14" y2="17" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                                                            <span class="ml-2">Supprimer</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="footer.html"></div>
    </div>
</div>
<div class="modal modal-blur fade" id="modal-create" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Formulaire</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form name="saveProduct" th:action="@{/products}" autocomplete="off" method="post">
                <input id="product-id" type="hidden" name="id">
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col col-lg-6">
                            <label class="form-label required" for="product-name">Nom du produit</label>
                            <input type="text" class="form-control text-transform-uppercase" id="product-name" name="name" required>
                        </div>
                        <div class="col col-lg-6">
                            <label class="form-label required" for="passage">Passage dépôt</label>
                            <input type="number" min="0" step="0.01" class="form-control" id="passage" name="passage" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col col-lg-6">
                            <label class="form-label required" for="passageTax">TVA sur le passage dépôt</label>
                            <input type="number" min="0" step="0.01" class="form-control" id="passageTax" name="passageTax" required>
                        </div>
                        <div class="col col-lg-6">
                            <label class="form-label required" for="refinery">Soutien à la raffinerie</label>
                            <input type="number" min="0" step="0.01" class="form-control" id="refinery" name="refinery" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col col-lg-6">
                            <label class="form-label required" for="specialTax">Taxe spéciale</label>
                            <input type="number" min="0" step="0.01" class="form-control" id="specialTax" name="specialTax" required>
                        </div>
                        <div class="col col-lg-6">
                            <label class="form-label required" for="transport">Péréquation transport</label>
                            <input type="number" min="0" step="0.01" class="form-control" id="transport" name="transport" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col col-lg-6">
                            <label class="form-label required" for="marking">Marquage chimique</label>
                            <input type="number" min="0" step="0.01" class="form-control" id="marking" name="marking" required>
                        </div>
                        <div class="col col-lg-6">
                            <label class="form-label required" for="markingTax">TVA sur marquage</label>
                            <input type="number" min="0" step="0.01" class="form-control" id="markingTax" name="markingTax" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                        Annuler
                    </a>
                    <button class="btn btn-primary ms-auto" type="submit">
                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2" /><circle cx="12" cy="14" r="2" /><polyline points="14 4 14 8 8 8 8 4" /></svg>
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal modal-blur fade" id="modal-delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <svg class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9v2m0 4v.01" /><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75" /></svg>
                <h3>Êtes vous sûr ?</h3>
                <div class="text-muted" id="delete-message">Voulez-vous vraiment supprimer ces produits ?</div>
            </div>
            <div class="modal-footer">
                <form th:action="@{/products/delete}" method="post">
                    <div id="delete-objects"></div>
                    <div class="w-100">
                        <div class="row">
                            <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                                Annuler
                            </a></div>
                            <div class="col">
                                <button type="submit" class="btn btn-danger w-100">
                                    Supprimer
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/tabler.min.js}"></script>
<script th:src="@{/js/demo.min.js}"></script>
<script th:src="@{/js/js-snackbar.min.js}"></script>
<script th:src="@{/js/dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.checkboxes.min.js}"></script>
<script th:src="@{/js/petroleum.js}"></script>
<!--/*@thymesVar id="notification" type="com.petroleum.models.Notification"*/-->
<script th:if="${notification}" th:inline="javascript">
    new SnackBar({
        message: /*[[${notification?.message}]]*/ '',
        status: /*[[${notification?.type == 'error' ? 'error' : 'success'}]]*/ '',
        dismissible: false,
        position: 'bc',
        fixed: true,
        timeout: 3000,
    });
</script>
</body>
</html>
