<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <title>Stocks | Petroleum</title>
    <link rel="icon" type="image/x-ico" th:href="@{/images/logo.png}">
    <link th:href="@{/fonts/inter.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabler.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabler-vendors.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/demo.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/js-snackbar.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet">
    <link th:href="@{/css/dataTables.checkboxes.css}" rel="stylesheet">
    <link th:href="@{/css/petroleum.css}" rel="stylesheet"/>
</head>
<body>
<div class="page" id="wrapper">
    <div class="sticky-top">
        <div th:replace="header.html"></div>
        <div class="navbar-expand-md">
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="navbar navbar-light">
                    <div class="container-fluid">
                        <div class="d-flex">
                            <ol class="breadcrumb navbar-nav d-flex align-items-center flex-row" aria-label="breadcrumbs">
                                <li class="breadcrumb-item">
                                    <a th:href="@{/home}" >
                                      <span class="d-lg-inline-block">
                                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                                      </span>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active"><a th:href="@{/stocks}">Inventaire de stock</a></li>
                            </ol>
                        </div>
                        <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
                            <div class="input-icon">
                            <span class="input-icon-addon">
                                <svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
                            </span>
                                <input type="text" value="" class="form-control" placeholder="Rechercher…" id="search-addon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row g-2 align-items-center">
                    <!-- Page title actions -->
                    <div class="col-12 col-md-auto ms-auto d-none">
                        <div class="btn-list">
                            <a class="btn btn-success d-none d-sm-inline-block">
                                Nouveau
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="row row-deck row-cards">
                    <div class="col-12 mt-1">
                        <div class="card">
                            <div id="table-default">
                                <table class="table card-table table-vcenter text-nowrap datatable paging searching" id="main-table">
                                    <thead>
                                    <tr>
                                        <th>Dépôts</th>
                                        <th th:each="product: ${products}" th:text="${product.name + ' (en litre)'}"></th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-tbody">
                                    <tr th:each="depot, x: ${depots}">
                                        <td th:text="${depot.name}"></td>
                                        <td th:each="product, y: ${products}" th:text="${#numbers.formatDecimal(volumes[x.index][y.index],1,'WHITESPACE',2,'COMMA')}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="footer.html"></div>
    </div>
</div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/tabler.min.js}"></script>
<script th:src="@{/js/demo.min.js}"></script>
<script th:src="@{/js/js-snackbar.min.js}"></script>
<script th:src="@{/js/dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.checkboxes.min.js}"></script>
<script th:src="@{/js/petroleum.js}"></script>
</body>
</html>
